@media (min-width: 1201px) and (max-width: 1600px) {
  .container-ferramentas {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .ferramentas {
    width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ferramentas-titulo {
    height: 20%;
    width: 80%;
    display: flex;
    align-items: center;
  }
  .ferramentas-titulo h3 {
    color: #fff;
    font-size: 3.8rem;
  }
  .ferramentas-nivel {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
  }
  .niveis {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .card-niveis {
    width: 90%;
    height: 60px;
  }
  .card-niveis div {
    height: 100%;
  }
  .card-niveis div:hover {
    transform: scale(1.2);
  }
  .card-niveis div p {
    color: #fff;
    font-size: 1.3rem;
  }
  .skills {
    width: 40%;
    height: 90%;
  }
  .skills-titulo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-titulo h3 {
    color: #fff;
    font-size: 2.8rem;
  }
  .lista-skills {
    height: 70%;
    display: flex;
    justify-content: center;
  }
  .lista-skills ul {
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .lista-skills ul li {
    font-size: 2rem;
  }
}
@media (min-width: 1601px) {
  .container-ferramentas {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .ferramentas {
    width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ferramentas-titulo {
    height: 20%;
    width: 80%;
    display: flex;
    align-items: center;
  }
  .ferramentas-titulo h3 {
    color: #fff;
    font-size: 4rem;
  }
  .ferramentas-nivel {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
  }
  .niveis {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .card-niveis {
    width: 90%;
    height: 100px;
  }
  .card-niveis div {
    height: 100%;
  }
  .card-niveis div:hover {
    transform: scale(1.2);
  }
  .card-niveis div p {
    color: #fff;
    font-size: 1.7rem;
  }
  .skills {
    width: 40%;
    height: 90%;
  }
  .skills-titulo {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-titulo h3 {
    color: #fff;
    font-size: 3.2rem;
  }
  .lista-skills {
    padding-top: 30px;
    height: 80%;
    display: flex;
    justify-content: center;
  }
  .lista-skills ul {
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .lista-skills ul li {
    font-size: 2.5rem;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .container-ferramentas {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
  }
  .ferramentas {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ferramentas-titulo {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ferramentas-titulo h3 {
    color: #fff;
    font-size: 2rem;
  }
  .ferramentas-nivel {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
  }
  .niveis {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .card-niveis {
    width: 90%;
    height: 60px;
  }
  .card-niveis div {
    height: 100%;
  }
  .card-niveis div:hover {
    transform: scale(1.2);
  }
  .card-niveis div p {
    color: #fff;
    font-size: 1rem;
  }
  .skills {
    height: 40%;
    width: 90%;
  }
  .skills-titulo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-titulo h3 {
    color: #fff;
    font-size: 2rem;
  }
  .lista-skills {
    height: 60%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .lista-skills ul {
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .lista-skills ul li {
    font-size: 1.5rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container-ferramentas {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
  }
  .ferramentas {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ferramentas-titulo {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ferramentas-titulo h3 {
    color: #fff;
    font-size: 3rem;
  }
  .ferramentas-nivel {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
  }
  .niveis {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .card-niveis {
    width: 90%;
    height: 60px;
  }
  .card-niveis div {
    height: 100%;
  }
  .card-niveis div:hover {
    transform: scale(1.2);
  }
  .card-niveis div p {
    color: #fff;
    font-size: 1rem;
  }
  .skills {
    height: 40%;
    width: 90%;
  }
  .skills-titulo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-titulo h3 {
    color: #fff;
    font-size: 2.5rem;
  }
  .lista-skills {
    height: 60%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .lista-skills ul {
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .lista-skills ul li {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container-ferramentas {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
  }
  .ferramentas {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ferramentas-titulo {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ferramentas-titulo h3 {
    color: #fff;
    font-size: 3.8rem;
  }
  .ferramentas-nivel {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
  }
  .niveis {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .card-niveis {
    width: 90%;
    height: 80px;
  }
  .card-niveis div {
    height: 100%;
  }
  .card-niveis div:hover {
    transform: scale(1.2);
  }
  .card-niveis div p {
    color: #fff;
    font-size: 1.5rem;
  }
  .skills {
    height: 40%;
    width: 90%;
  }
  .skills-titulo {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-titulo h3 {
    color: #fff;
    font-size: 3.2rem;
  }
  .lista-skills {
    height: 65%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .lista-skills ul {
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .lista-skills ul li {
    font-size: 1.5rem;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .container-ferramentas {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .ferramentas {
    width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ferramentas-titulo {
    height: 20%;
    width: 80%;
    display: flex;
    align-items: center;
  }
  .ferramentas-titulo h3 {
    color: #fff;
    font-size: 4rem;
  }
  .ferramentas-nivel {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
  }
  .niveis {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .card-niveis {
    width: 90%;
    height: 80px;
  }
  .card-niveis div {
    height: 100%;
  }
  .card-niveis div:hover {
    transform: scale(1.2);
  }
  .card-niveis div p {
    color: #fff;
    font-size: 1.3rem;
  }
  .skills {
    width: 40%;
    height: 90%;
  }
  .skills-titulo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-titulo h3 {
    color: #fff;
    font-size: 3.5rem;
  }
  .lista-skills {
    height: 70%;
    display: flex;
    justify-content: center;
  }
  .lista-skills ul {
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .lista-skills ul li {
    font-size: 2.5rem;
  }
}
