@media (min-width: 1201px) and (max-width: 1600px) {
  .footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(249, 249, 252, 0.904) 0px 30px 60px -12px inset,
      rgb(252, 249, 249) 0px 18px 36px -18px inset;
  }
  .container-contatos {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulario-contato {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .form-titulo {
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
  }
  .form-titulo h3 {
    color: #fff;
    font-size: 2.5rem;
  }
  .formulario {
    width: 70%;
    height: 80%;
  }
  .formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 4px;
    justify-content: center;
  }
  .formulario form input {
    background: none;
    width: 90%;
    height: 20px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
  }
  .text-area {
    width: 90%;
  }
  .text-area textarea {
    background: none;
    outline: 0;
    resize: none;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
    width: 300px;
    color: #fff;
  }
  .formulario button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
  }
  .formulario button:hover {
    transform: scale(1.1);
  }
  .rodape {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .rodape-icones {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .rodape-icones img {
    width: 100%;
    height: 100%;
  }
  .rodape-icones:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 1601px) {
  .footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(249, 249, 252, 0.904) 0px 30px 60px -12px inset,
      rgb(252, 249, 249) 0px 18px 36px -18px inset;
  }
  .container-contatos {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulario-contato {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .form-titulo {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
  }
  .form-titulo h3 {
    color: #fff;
    font-size: 3.2rem;
  }
  .formulario {
    width: 80%;
    height: 80%;
  }
  .formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 4px;
    justify-content: center;
    font-size: 1.4rem;
  }
  .formulario form input {
    background: none;
    width: 90%;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
  }
  .text-area textarea {
    background: none;
    outline: 1;
    resize: none;
    width: 90%;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
    width: 300px;
    color: #fff;
    border: none;
  }
  .formulario button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
  }
  .formulario button:hover {
    transform: scale(1.1);
  }
  .rodape {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .rodape-icones {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
  }
  .rodape-icones img {
    width: 100%;
    height: 100%;
  }
  .rodape-icones:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(249, 249, 252, 0.904) 0px 30px 60px -12px inset,
      rgb(252, 249, 249) 0px 18px 36px -18px inset;
  }
  .container-contatos {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulario-contato {
    width: 99%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .form-titulo {
    width: 94%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-titulo h3 {
    color: #fff;
    font-size: 2rem;
  }
  .formulario {
    width: 94%;
    height: 80%;
  }
  .formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 4px;
    justify-content: center;
    font-size: 1.2rem;
  }
  .formulario form input {
    background: none;
    width: 90%;
    height: 30px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
  }
  .text-area textarea {
    background: none;
    outline: 0;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
    width: 300px;
    color: #fff;
  }
  .formulario button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
  }
  .formulario button:hover {
    transform: scale(1.1);
  }
  .rodape {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .rodape-icones {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .rodape-icones img {
    width: 100%;
    height: 100%;
  }
  .rodape-icones:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(249, 249, 252, 0.904) 0px 30px 60px -12px inset,
      rgb(252, 249, 249) 0px 18px 36px -18px inset;
  }
  .container-contatos {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulario-contato {
    width: 99%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .form-titulo {
    width: 94%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-titulo h3 {
    color: #fff;
    font-size: 2rem;
  }
  .formulario {
    width: 94%;
    height: 80%;
  }
  .formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 4px;
    justify-content: center;
    font-size: 1.2rem;
  }
  .formulario form input {
    background: none;
    width: 90%;
    height: 30px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
  }
  .text-area textarea {
    background: none;
    outline: 0;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
    width: 300px;
    color: #fff;
  }
  .formulario button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
  }
  .formulario button:hover {
    transform: scale(1.1);
  }
  .rodape {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .rodape-icones {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .rodape-icones img {
    width: 100%;
    height: 100%;
  }
  .rodape-icones:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(249, 249, 252, 0.904) 0px 30px 60px -12px inset,
      rgb(252, 249, 249) 0px 18px 36px -18px inset;
  }
  .container-contatos {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulario-contato {
    width: 99%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .form-titulo {
    width: 94%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-titulo h3 {
    color: #fff;
    font-size: 3rem;
  }
  .formulario {
    width: 94%;
    height: 80%;
  }
  .formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 4px;
    justify-content: center;
    font-size: 1.5rem;
  }
  .formulario form input {
    background: none;
    width: 90%;
    height: 30px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
  }
  .text-area textarea {
    background: none;
    outline: 0;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
    width: 300px;
    color: #fff;
  }
  .formulario button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
  }
  .formulario button:hover {
    transform: scale(1.1);
  }
  .rodape {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .rodape-icones {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .rodape-icones img {
    width: 100%;
    height: 100%;
  }
  .rodape-icones:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(249, 249, 252, 0.904) 0px 30px 60px -12px inset,
      rgb(252, 249, 249) 0px 18px 36px -18px inset;
  }
  .container-contatos {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulario-contato {
    width: 99%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .form-titulo {
    width: 94%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-titulo h3 {
    color: #fff;
    font-size: 3.5rem;
  }
  .formulario {
    width: 94%;
    height: 70%;
  }
  .formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 4px;
    justify-content: center;
    font-size: 1.5rem;
  }
  .formulario form input {
    background: none;
    width: 90%;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
  }
  .text-area textarea {
    background: none;
    outline: 0;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px;
    width: 300px;
    color: #fff;
  }
  .formulario button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
  }
  .formulario button:hover {
    transform: scale(1.1);
  }
  .rodape {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .rodape-icones {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .rodape-icones img {
    width: 100%;
    height: 100%;
  }
  .rodape-icones:hover {
    transform: scale(1.1);
  }
}
