*{
    padding: 0;
    margin: 0;
    font-family: "Dosis", "Roboto", Arial, Helvetica, sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background: #010127;
}

li{
    list-style: none;
}

